img {
  width: 340px;
}
body {
  text-align: center;
  background-image: url("background1\ \(1\).jpg");
  color: white;
  font-size: 20px;
  font-weight: bold;
}
div {
  display: inline-block;
}
.sink {
  position: relative;
}
div {
  margin: auto 49px 30px 52px;
}
.footer {
  margin: 0;
}
.footlink {
  margin: auto;
  text-decoration: none;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: absolute;
  margin-left: 175px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.contact-me {
  width: 50%;
  margin: 90px auto auto;
  line-height: 2;
}
hr {
  border-style: dotted none none;
  border-color: #bdbebe;
  width: 4%;
  margin: 100px auto;
  border-width: 6px;
}
.footer-link {
  color: #fcfcfc;
  margin: 10px 20px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
a:hover {
  color: #00f8f8;
}
.bottom-container {
  padding: 50px 0 20px;
}
.loc {
  width: 30px;
  position: absolute;
}
.loc {
  margin: -4px -30px;
}
